pipeline/FromGithubpipeline.json
{
	"name": "FromGithubpipeline",
	"properties": {
		"activities": [
			{
				"name": "CsvFromGit",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupForEachInput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupForEachInput').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "InsideForEach",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataFromGithub",
									"type": "DatasetReference",
									"parameters": {
										"csv_relative_url": {
											"value": "@item().csv_relative_url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CsvFromGitToSink",
									"type": "DatasetReference",
									"parameters": {
										"p_file_name": {
											"value": "@item().p_file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data From Sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CsvFromGit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MySqlTableOrderPayments",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CsvFromSqlToSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupForEachInput",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonFromGithub",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"ForEachInput": {
				"type": "array",
				"defaultValue": [
					{
						"csv_relative_url": "BigDataProjects/refs/heads/main/Olist%20Ecom%20-%20Brazilian%20dataset/Data/olist_customers_dataset.csv",
						"p_file_name": "olist_customers_dataset.csv"
					},
					{
						"csv_relative_url": "BigDataProjects/refs/heads/main/Olist%20Ecom%20-%20Brazilian%20dataset/Data/olist_geolocation_dataset.csv",
						"p_file_name": "olist_geolocation_dataset.csv"
					},
					{
						"csv_relative_url": "BigDataProjects/refs/heads/main/Olist%20Ecom%20-%20Brazilian%20dataset/Data/olist_order_items_dataset.csv",
						"p_file_name": "olist_order_items_dataset.csv"
					},
					{
						"csv_relative_url": "BigDataProjects/refs/heads/main/Olist%20Ecom%20-%20Brazilian%20dataset/Data/olist_order_reviews_dataset.csv",
						"p_file_name": "olist_order_reviews_dataset.csv"
					},
					{
						"csv_relative_url": "BigDataProjects/refs/heads/main/Olist%20Ecom%20-%20Brazilian%20dataset/Data/olist_orders_dataset.csv",
						"p_file_name": "olist_orders_dataset.csv"
					},
					{
						"csv_relative_url": "BigDataProjects/refs/heads/main/Olist%20Ecom%20-%20Brazilian%20dataset/Data/olist_products_dataset.csv",
						"p_file_name": "olist_products_dataset.csv"
					},
					{
						"csv_relative_url": "BigDataProjects/refs/heads/main/Olist%20Ecom%20-%20Brazilian%20dataset/Data/olist_sellers_dataset.csv",
						"p_file_name": "olist_sellers_dataset.csv"
					}
				]
			}
		},
		"annotations": []
	}
}